<!--Aguirre Santiago - Iglesias Ailen - Batistella Tiziano - Hayes Tomás-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentos</title>
    <script src="https://kit.fontawesome.com/2cb25f2c39.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/documentsStyles.css">
</head>
<body>
    <div class="container">
        <!--NAV-->
        <header class="grilla1">
            <nav class="subgrillaNAV">
                <a href="index.html"><img src="img/logo2.png"></a>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="documents.html">Documentos</a></li>
                    <li><a href="alumnos.html">Alumnos</a></li>
                    <li><a href="imagenes.html">Imágenes</a></li>
                    <li><a href="historia.html">Acerca de</a></li>
                </ul>
            </nav> 
        </header>

        <!--Título-->
        <h1 data-aos="zoom-in" class="grilla2">DOCUMENTOS</h1>
        <!--PDF-->
        <img data-aos="fade-right" id="archivo" src="img/archivo.png" alt="">

        <!--Archivos-->
        <div data-aos="fade-right" class="grilla3">
            <ul>
                <li>
                    <a href="download/Contrato.pdf" target="_blank" download="Contrato(Modelo).pdf">Contrato(Modelo)</a>
                </li>
                <li>
                    <a href="download/Reglamento Institucional.pdf" target="_blank" download="Reglamento Institucional.pdf">Reglamento Institucional</a>
                </li>
                <li>
                    <a href="download/ficha medica.pdf" target="_blank" download="Ficha Medica.pdf">Ficha Medica</a>
                </li>
            </ul>
        </div>


        <!--Footer-->
        <footer class="grilla4">
            <div class="subgrillaFOOTER">
                <h2 id="contacto"><a href="contacto.html">Contactanos</a></h2>
                <div id="redes">
                    <h2>Nuestras redes sociales</h2>
                        <a href="https://www.instagram.com" target="_blank"><i id="instagram" d id="icons" class="fa-brands fa-instagram fa-2xl"></i></a>
                        <a href="https://www.twitter.com" target="_blank"><i id="twitter" id="icons" class="fa-brands fa-twitter fa-2xl"style="--fa-primary-opacity: 0.20"></i></a>
                        <a href="https://www.facebook.com/latecnicalf/" target="_blank"><i id="facebook" id="icons" class="fa-brands fa-facebook fa-2xl"></i></a>
                </div>
                <p id="legal">
                    Adscripto a la Provincia de Córdoba. Decreto Nº 5523. Dirección de Institutos Privados de Enseñanza
                </p>
                <p id="copyright">
                    ©copyright by Santiago Aguirre
                </p>
                <div class="direccion">
                    <h2>Encuentranos en:</h2>
                    <p><i class="fa-solid fa-location-dot"></i> CAPITAL FEDERAL 70 (5172), LA FALDA, CÓRDOBA, ARGENTINA</p>
                </div>
            </div>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</div>
</body>
</html>