<!--Aguirre Santiago - Iglesias Ailen - Batistella Tiziano - Hayes Tomás-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Acerca de</title>

	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/historiaStyles.css">

	<script src="https://kit.fontawesome.com/2cb25f2c39.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
		<div class="container">
			<!--NAV-->
	        <header class="grilla1">
	                <nav class="subgrillaNAV">
	                    <a href="index.html"><img src="img/logo2.png"></a>
	                    <ul>
	                        <li><a href="index.html">Inicio</a></li>
	                        <li><a href="documents.html">Documentos</a></li>
	                        <li><a href="alumnos.html">Alumnos</a></li>
	                        <li><a href="imagenes.html">Imágenes</a></li>
	                        <li><a href="historia.html">Acerca de</a></li>
	                    </ul>
	                </nav> 
	        </header>

			<!--Titulo-->
			<h1 data-aos="fade-down">ACERCA DE NOSOTROS</h1>

			<!--Foto-->
			<img data-aos="zoom-in" src="img/historica.jpg" alt="Historia">

			<div class="primtexto">
				<p>
					En el año 1986 un grupo de padres cuyos hijos cursaban el ultimo año de la primaria decidieron juntarse y analizar la posibilidades de crear una escuela técnica para brindar a los jóvenes de la comunidad estudios secundarios con salida laboral. Se encontraron con muchos problemas pero tenían tanto entusiasmo que nada los detenía.
				</p>
				<p>
					Empezó la escuela donde hoy esta que era un viejo galpón de chapa y pintura que paso a ser los Talleres de Automotores y Electrónica.
				</p>
				<p>
					Las viejas oficinas se vistieron de aula albergando los sueños de 30 adolescentes junto con la entrega incondicional de los docentes y la labor incansable de un grupo de padres.
				</p>
				<p>
					Los docentes trabajaron un año "ad honorem" hasta que se logro la adscripción de la Escuela a la Provincia.
				</p>
			</div>

			<div class="segundotexto">
				<p>
					La comunidad educativa realizaba mensualmente eventos para recaudar fondos con los que hacer frente a los compromisos desde alquiler hasta el pasaje de colectivo de los docentes que no vivian en La Falda.
				</p>
				<p>
					La ayuda de la comunidad: TOTAL Y ESPONTÁNEA!! Las Colonias de Vacaciones de esta época donaban comida para eventos que congregaban a 300 personas.
				</p>
				<p>
					Un alto ejecutivo de Renault donó un motor de Renault 9 "0" kilómetro, elemento de lujo para el aprendizaje.
				</p>
				<p>
					El hotel FATSA aportó gratuitamente los pupitres. La Educación física se practicaba en el Parque Hotel.
				</p>
				<p>
					El Ingeniero Pablo Baudoin elaboró el proyecto educativo. Hoy los talleres llevan su nombre.
				</p>
			</div>

			<!--Footer-->
			<footer class="grilla7">
	            <div class="subgrillaFOOTER">
	                <h2 id="contacto"><a href="contacto.html">Contactanos</a></h2>
                    <div id="redes">
                        <h2>Nuestras redes sociales</h2>
                            <a href="https://www.instagram.com" target="_blank"><i id="instagram" d id="icons" class="fa-brands fa-instagram fa-2xl"></i></a>
                            <a href="https://www.twitter.com" target="_blank"><i id="twitter" id="icons" class="fa-brands fa-twitter fa-2xl"style="--fa-primary-opacity: 0.20"></i></a>
                            <a href="https://www.facebook.com/latecnicalf/" target="_blank"><i id="facebook" id="icons" class="fa-brands fa-facebook fa-2xl"></i></a>
                    </div>
	                <p id="legal">Adscripto a la Provincia de Córdoba. Decreto Nº 5523. Dirección de Institutos Privados de Enseñanza</p>
	                <p id="copyright">©copyright by Santiago Aguirre</p>
                    <div class="direccion">
                        <h2>Encuentranos en:</h2>
                        <p><i class="fa-solid fa-location-dot"></i> CAPITAL FEDERAL 70 (5172), LA FALDA, CÓRDOBA, ARGENTINA</p>
                    </div>
	            </div>
	        </footer>
	    </div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>