<!--Aguirre Santiago - Iglesias Ailen - Batistella Tiziano - Hayes Tomás-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Horarios</title>

	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/horariosStyles.css">

	<script src="https://kit.fontawesome.com/2cb25f2c39.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<!--NAV-->
		<header class="grilla1">
				<nav class="subgrillaNAV">
					<a href="index.html"><img src="img/logo2.png"></a>
					<ul>
						<li><a href="index.html">Inicio</a></li>
						<li><a href="documents.html">Documentos</a></li>
						<li><a href="alumnos.html">Alumnos</a></li>
						<li><a href="imagenes.html">Imágenes</a></li>
						<li><a href="historia.html">Acerca de</a></li>
					</ul>
				</nav> 
		</header>


		<!--Titulo-->
		<h1 data-aos="fade-down" class="grilla2">HORARIOS</h1>


		<div data-aos="fade-right" class="primero" id="lista">
			<ul>
				<li><h2><a href="download/horarios/1a.pdf" target="_blank" download="1a.pdf">✔ 1 "A"</a></h2></li>
				<li><h2><a href="download/horarios/1b.pdf" target="_blank" download="1b.pdf">✔ 1 "B"</a></h2></li>
				<li><h2><a href="download/horarios/1c.pdf" target="_blank" download="1c.pdf">✔ 1 "C"</a></h2></li>
			</ul>
		</div>
		
		<div data-aos="fade-right" class="segundo" id="lista">
			<ul>
				<li><h2><a href="download/horarios/2a.pdf" target="_blank" download="2a.pdf">✔ 2 "A"</a></h2></li>
				<li><h2><a href="download/horarios/2b.pdf" target="_blank" download="2b.pdf">✔ 2 "B"</a></h2></li>
				<li><h2><a href="download/horarios/2c.pdf" target="_blank" download="2c.pdf">✔ 2 "C"</a></h2></li>
			</ul>
		</div>
		
		<div data-aos="fade-right" class="tercero" id="lista">
			<ul>
				<li><h2><a href="download/horarios/3a.pdf" target="_blank" download="3a.pdf">✔ 3 "A"</a></h2></li>
				<li><h2><a href="download/horarios/3b.pdf" target="_blank" download="3b.pdf">✔ 3 "B"</a></h2></li>
				<li><h2><a href="download/horarios/3c.pdf" target="_blank" download="3c.pdf">✔ 3 "C"</a></h2></li>
			</ul>
		</div>
		
		<div data-aos="fade-right" class="cuarto" id="lista">
			<ul>
				<li><h2><a href="download/horarios/4e.pdf" target="_blank" download="4e.pdf">✔ 4 "E"</a></h2></li>
				<li><h2><a href="download/horarios/4p.pdf" target="_blank" download="4p.pdf">✔ 4 "P"</a></h2></li>
				<li><h2><a href="download/horarios/4m.pdf" target="_blank" download="4m.pdf">✔ 4 "M"</a></h2></li>
			</ul>
		</div>
		
		<div data-aos="fade-right" class="quinto" id="lista">
			<ul>
				<li><h2><a href="download/horarios/5e.pdf" target="_blank" download="5e.pdf">✔ 5 "E"</a></h2></li>
				<li><h2><a href="download/horarios/5p.pdf" target="_blank" download="5p.pdf">✔ 5 "P"</a></h2></li>
				<li><h2><a href="download/horarios/5m.pdf" target="_blank" download="5m.pdf">✔ 5 "M"</a></h2></li>
			</ul>
		</div>
		
		<div data-aos="fade-right" class="sexto" id="lista">
			<ul>
				<li><h2><a href="download/horarios/6e.pdf" target="_blank" download="6e.pdf">✔ 6 "E"</a></h2></li>
				<li><h2><a href="download/horarios/6p.pdf" target="_blank" download="6p.pdf">✔ 6 "P"</a></h2></li>
				<li><h2><a href="download/horarios/6m.pdf" target="_blank" download="6m.pdf">✔ 6 "M"</a></h2></li>
			</ul>
		</div>
		
		<div data-aos="fade-right" class="septimo" id="lista">
			<ul>
				<li><h2><a href="download/horarios/7e.pdf" target="_blank" download="7e.pdf">✔ 7 "E"</a></h2></li>
				<li><h2><a href="download/horarios/7p.pdf" target="_blank" download="7p.pdf">✔ 7 "P"</a></h2></li>
				<li><h2><a href="download/horarios/4m.pdf" target="_blank" download="7m.pdf">✔ 7 "M"</a></h2></li>
			</ul>
		</div>
		

		<!--Footer-->
		<footer class="grilla7">
			<div class="subgrillaFOOTER">
				<h2 id="contacto"><a href="contacto.html">Contactanos</a></h2>
				<div id="redes">
					<h2>Nuestras redes sociales</h2>
						<a href="https://www.instagram.com" target="_blank"><i id="instagram" d id="icons" class="fa-brands fa-instagram fa-2xl"></i></a>
						<a href="https://www.twitter.com" target="_blank"><i id="twitter" id="icons" class="fa-brands fa-twitter fa-2xl"style="--fa-primary-opacity: 0.20"></i></a>
						<a href="https://www.facebook.com/latecnicalf/" target="_blank"><i id="facebook" id="icons" class="fa-brands fa-facebook fa-2xl"></i></a>
				</div>
				<p id="legal">Adscripto a la Provincia de Córdoba. Decreto Nº 5523. Dirección de Institutos Privados de Enseñanza</p>
				<p id="copyright">©copyright by Santiago Aguirre</p>
				<div class="direccion">
					<h2>Encuentranos en:</h2>
					<p><i class="fa-solid fa-location-dot"></i> CAPITAL FEDERAL 70 (5172), LA FALDA, CÓRDOBA, ARGENTINA</p>
				</div>
			</div>
		</footer>
	</div>

	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
</body>
</html>