<!--Aguirre Santiago - Iglesias Ailen - Batistella Tiziano - Hayes Tomás-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Imagenes</title>

	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/imagenesStyles.css">

	<script src="https://kit.fontawesome.com/2cb25f2c39.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<!--NAV-->
		<header class="grilla1">
				<nav class="subgrillaNAV">
					<a href="index.html"><img src="img/logo2.png"></a>
					<ul>
						<li><a href="index.html">Inicio</a></li>
						<li><a href="documents.html">Documentos</a></li>
						<li><a href="alumnos.html">Alumnos</a></li>
						<li><a href="imagenes.html">Imágenes</a></li>
						<li><a href="historia.html">Acerca de</a></li>
					</ul>
				</nav> 
		</header>

		<!--Titulo-->
		<h1 data-aos="fade-down" class="grilla2">IMÁGENES</h1>

		<!--Galeria-->
		<div class="grilla3">
			<div class="gallery-container">
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/1.jpg" alt="imagen 1" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/2.jpg" alt="imagen 2" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/3.jpg" alt="imagen 3" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/4.jpg" alt="imagen 4" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/5.jpg" alt="imagen 5" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/6.jpg" alt="imagen 6" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/7.jpg" alt="imagen 7" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/8.jpg" alt="imagen 8" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/9.jpg" alt="imagen 9" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/10.jpg" alt="imagen 10" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/11.jpg" alt="imagen 11" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/12.jpg" alt="imagen 12" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/13.jpg" alt="imagen 13" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/14.jpg" alt="imagen 14" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/15.jpg" alt="imagen 15" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/16.jpg" alt="imagen 16" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/17.jpg" alt="imagen 17" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/18.jpg" alt="imagen 18" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/19.jpg" alt="imagen 19" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/20.jpg" alt="imagen 20" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/21.jpg" alt="imagen 21" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/22.jpg" alt="imagen 22" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/23.jpg" alt="imagen 23" class="gallery__img"></div>
				<div data-aos="zoom-in" class="gallery__item"><img src="img/galeria/24.jpg" alt="imagen 24" class="gallery__img"></div>
			</div>
		</div>

		<!--Footer-->
		<footer class="grilla7">
			<div class="subgrillaFOOTER">
				<h2 id="contacto"><a href="contacto.html">Contactanos</a></h2>
				<div id="redes">
					<h2>Nuestras redes sociales</h2>
						<a href="https://www.instagram.com" target="_blank"><i id="instagram" d id="icons" class="fa-brands fa-instagram fa-2xl"></i></a>
						<a href="https://www.twitter.com" target="_blank"><i id="twitter" id="icons" class="fa-brands fa-twitter fa-2xl"style="--fa-primary-opacity: 0.20"></i></a>
						<a href="https://www.facebook.com/latecnicalf/" target="_blank"><i id="facebook" id="icons" class="fa-brands fa-facebook fa-2xl"></i></a>
				</div>
				<p id="legal">Adscripto a la Provincia de Córdoba. Decreto Nº 5523. Dirección de Institutos Privados de Enseñanza</p>
				<p id="copyright">©copyright by Santiago Aguirre</p>
				<div class="direccion">
					<h2>Encuentranos en:</h2>
					<p><i class="fa-solid fa-location-dot"></i> CAPITAL FEDERAL 70 (5172), LA FALDA, CÓRDOBA, ARGENTINA</p>
				</div>
			</div>
		</footer>
	</div>

	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
</body>
</html>