<!--Aguirre Santiago - Iglesias Ailen - Batistella Tiziano - Hayes Tomás-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Material Didactico</title>

	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/materialStyles.css">

	<script src="https://kit.fontawesome.com/2cb25f2c39.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<!--NAV-->
		<header class="grilla1">
				<nav class="subgrillaNAV">
					<a href="index.html"><img src="img/logo2.png"></a>
					<ul>
						<li><a href="index.html">Inicio</a></li>
						<li><a href="documents.html">Documentos</a></li>
						<li><a href="alumnos.html">Alumnos</a></li>
						<li><a href="imagenes.html">Imágenes</a></li>
						<li><a href="historia.html">Acerca de</a></li>
					</ul>
				</nav> 
		</header>

		<!--Titulo-->
		<h1 data-aos="fade-down" class="grilla2">MATERIAL DIDÁCTICO</h1>

		<!--Listas-->
		<ul data-aos="fade-right" class="grilla3" id="lista">
			<li><a href="">ANÁLISIS MATEMÁTICO</a></li>
			<li><a href="">BIOLOGÍA</a></li>
			<li><a href="">CIUDADANÍA Y PARTICIPACIÓN</a></li>
			<li><a href="">CIUDADANÍA Y POLÍTICA</a></li>
			<li><a href="">DIBUJO TÉCNICO</a></li>
			<li><a href="">DISEÑO MECÁNICO</a></li>
			<li><a href="">ECONOMÍA Y GESTIÓN PRODUCTIVA</a></li>
			<li><a href="">EDUCACIÓN FÍSICA</a></li>
			<li><a href="">EDUCACIÓN TECNOLÓGICA</a></li>
			<li><a href="">ELECTRÓNICA ANALÓGICA</a></li>
			<li><a href="">ELECTRÓNICA DIGITAL</a></li>
			<li><a href="">ELECTRÓNICA</a></li>
			<li><a href="">ELECTRÓNICA INDUSTRIAL</a></li>
		</ul>

		<ul data-aos="fade-right" class="grilla4" id="lista">
			<li><a href="">ELECTROTECNIA</a></li>
			<li><a href="">ELEMENTOS DE MÁQUINAS</a></li>
			<li><a href="">EMPRENDIMIENTO</a></li>
			<li><a href="">EQUIPOS E INSTALACIONES INDUSTRIALES</a></li>
			<li><a href="">FAT</a></li>
			<li><a href="">FILOSOFÍA</a></li>
			<li><a href="">FÍSICA</a></li>
			<li><a href="">FORMACIÓN PARA LA VIDA Y EL TRABAJO</a></li>
			<li><a href="">GEOGRAFÍA</a></li>
			<li><a href="">HIGIENE Y SEGURIDAD</a></li>
			<li><a href="">HISTORIA</a></li>
			<li><a href="">INFORMÁTICA APLICADA</a></li>
		</ul>

		<ul data-aos="fade-right" class="grilla5" id="lista">
			<li><a href="">INFORMÁTICA ELECTRÓNICA</a></li>
			<li><a href="">INGLÉS</a></li>
			<li><a href="">INSTALACIONES INDUSTRIALES</a></li>
			<li><a href="">INSTALACIONES Y MANTENIMIENTO INDUSTRIAL</a></li>
			<li><a href="">LENGUA Y LITERATURA</a></li>
			<li><a href="">LÓGICA MATEMÁTICA</a></li>
			<li><a href="">MÁQUINAS Y HERRAMIENTAS</a></li>
			<li><a href="">MARCO JURÍDICO</a></li>
			<li><a href="">MATEMÁTICA</a></li>
			<li><a href="">MATERIALES Y RESISTENCIA DE LOS MATERIALES</a></li>
			<li><a href="">MÚSICA</a></li>
			<li><a href="">PLÁSTICA</a></li>
		</ul>

		<ul data-aos="fade-right" class="grilla6" id="lista">
			<li><a href="">PROGRAMACIÓN</a></li>
			<li><a href="">PROYECTO INTEGRADOR</a></li>
			<li><a href="">PSICOLOGÍA</a></li>
			<li><a href="">QUÍMICA</a></li>
			<li><a href="">REPRESENTACIÓN GRÁFICA</a></li>
			<li><a href="">TALLER</a></li>
			<li><a href="">TEATRO</a></li>
			<li><a href="">TELECOMUNICACIONES</a></li>
			<li><a href="">TERMODINÁMICA Y MÁQUINAS TÉRMICAS</a></li>
			<li><a href="">VARIOS</a></li>
		</ul>

		<!--Footer-->
		<footer class="grilla7">
			<div class="subgrillaFOOTER">
				<h2 id="contacto"><a href="contacto.html">Contactanos</a></h2>
				<div id="redes">
					<h2>Nuestras redes sociales</h2>
						<a href="https://www.instagram.com" target="_blank"><i id="instagram" d id="icons" class="fa-brands fa-instagram fa-2xl"></i></a>
						<a href="https://www.twitter.com" target="_blank"><i id="twitter" id="icons" class="fa-brands fa-twitter fa-2xl"style="--fa-primary-opacity: 0.20"></i></a>
						<a href="https://www.facebook.com/latecnicalf/" target="_blank"><i id="facebook" id="icons" class="fa-brands fa-facebook fa-2xl"></i></a>
				</div>
				<p id="legal">Adscripto a la Provincia de Córdoba. Decreto Nº 5523. Dirección de Institutos Privados de Enseñanza</p>
				<p id="copyright">©copyright by Santiago Aguirre</p>
				<div class="direccion">
					<h2>Encuentranos en:</h2>
					<p><i class="fa-solid fa-location-dot"></i> CAPITAL FEDERAL 70 (5172), LA FALDA, CÓRDOBA, ARGENTINA</p>
				</div>
			</div>
		</footer>
	</div>

	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
</body>
</html>