<!--Aguirre Santiago - Iglesias Ailen - Batistella Tiziano - Hayes Tomás-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mecanica</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/especialidadStyles.css">

    <script src="https://kit.fontawesome.com/2cb25f2c39.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!--NAV-->
        <header class="grilla1">
            <nav class="subgrillaNAV">
                <a href="index.html"><img src="img/logo2.png"></a>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="documents.html">Documentos</a></li>
                    <li><a href="alumnos.html">Alumnos</a></li>
                    <li><a href="imagenes.html">Imágenes</a></li>
                    <li><a href="historia.html">Acerca de</a></li>
                </ul>
            </nav> 
        </header>

        <!--Titulo-->
        <h1 data-aos="fade-down" class="grilla2">Mecánica</h1>

        <!--Especialidad-->
        <img data-aos="fade-right" class="grilla3" src="img/especialidades/Mecanica 1.jpg">
        <p data-aos="fade-left" class="grilla4">
            La mecánica (en griego, Μηχανική y en latín, mēchanica) o arte de construir una máquina es la rama de la física que estudia y analiza el movimiento y reposo de los cuerpos, y su evolución en el tiempo, bajo la acción de fuerzas. Modernamente la mecánica incluye la evolución de sistemas físicos más generales que los cuerpos másicos. En ese enfoque la mecánica estudia también las ecuaciones de evolución temporal de sistemas físicos como los campos electromagnéticos o los sistemas cuánticos donde propiamente no es correcto hablar de cuerpos físicos.
        </p>

        <img data-aos="fade-left" class="grilla5" src="img/especialidades/Mecanica 2.jpg">
        <p data-aos="fade-right" class="grilla6">
            La mecánica es una ciencia perteneciente a la física, ya que los fenómenos que estudia son físicos, por ello está relacionada con las matemáticas. Sin embargo, también puede relacionarse con la ingeniería, en un modo menos riguroso. Ambos puntos de vista se justifican parcialmente ya que, si bien la mecánica es la base para la mayoría de las ciencias de la ingeniería clásica, no tiene un carácter tan empírico como estas y, en cambio, por su rigor y razonamiento deductivo, se parece más a la matemática.
        </p>
    


        <img data-aos="fade-right" class="img3" src="img/especialidades/Mecanica 3.jpg">
        <p data-aos="fade-left" class="grilla8">
            Esta rama de la física tiene sus orígenes en la Antigua Grecia con los escritos de Aristóteles y Arquímedes. Durante el período moderno temprano, científicos como Galileo, Kepler y Newton sentaron las bases de lo que ahora se conoce como mecánica clásica. Es una rama de la física clásica que se ocupa de partículas que están en reposo o que se mueven con velocidades significativamente menores que la velocidad de la luz. También se puede definir como una rama de la ciencia que se ocupa del movimiento y las fuerzas sobre cuerpos que no están en el reino cuántico. Hoy en día, el campo se conoce menos en términos de teoría cuántica.
        </p>


        <!--Footer-->
        <footer class="grilla7">
            <div class="subgrillaFOOTER">
                <h2 id="contacto"><a href="contacto.html">Contactanos</a></h2>
                    <div id="redes">
                        <h2>Nuestras redes sociales</h2>
                            <a href="https://www.instagram.com" target="_blank"><i id="instagram" d id="icons" class="fa-brands fa-instagram fa-2xl"></i></a>
                            <a href="https://www.twitter.com" target="_blank"><i id="twitter" id="icons" class="fa-brands fa-twitter fa-2xl"style="--fa-primary-opacity: 0.20"></i></a>
                            <a href="https://www.facebook.com/latecnicalf/" target="_blank"><i id="facebook" id="icons" class="fa-brands fa-facebook fa-2xl"></i></a>
                    </div>
                <p id="legal">Adscripto a la Provincia de Córdoba. Decreto Nº 5523. Dirección de Institutos Privados de Enseñanza</p>
                <p id="copyright">©copyright by Santiago Aguirre</p>
                    <div class="direccion">
                        <h2>Encuentranos en:</h2>
                        <p><i class="fa-solid fa-location-dot"></i> CAPITAL FEDERAL 70 (5172), LA FALDA, CÓRDOBA, ARGENTINA</p>
                    </div>
            </div>
        </footer>
    </div>

        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	    <script>
	        AOS.init();
	    </script>
</body>
</html>